
/* Other useful styles */

.link {
    stroke: #ebebeb;
    /* stroke-width: 1; the default value is probably good */
}
  
.node text {
    pointer-events: none;
    font-family: 'Segoe UI', sans-serif;
    /* transform each name in all-caps, for a better visualizazion */
    text-transform: uppercase; 
    font-weight: bold;
}